@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}

html {
	font-family: "Microsoft YaHei";
	font-size: 16px;
	/*font-size: 1.5vw;*/
	/*color: #407434;*/
	/*color: #65934A;*/
	/*color: #A0BF7C;*/
	/*color: #03230E;*/
}

body {
	font-size: 0;
}

.boso {
	min-width: 56rem;
}

.boso .base {
	/*max-width: 64rem;*/
	max-width: 75rem;
	margin: 0 auto;
}

/*页首的用户信息*/
.boso .member_info {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 2rem;
	background-color: #EEE;
	z-index: 10;
}

.boso .member_info .logo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.boso .member_info .logo img{
	margin: 0.2rem 0.5rem;
	height: 1.6rem;
}

.boso .member_info .user {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	text-align: right;
}

.boso .member_info .login{
	display: inline-block;
	vertical-align: top;
	height: 2rem;
	min-width: 3rem;
	padding: 0 0.5rem 0 0.5rem;
	color: #777;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	text-decoration: none;
}
.boso .member_info .login:hover{
	color: #FFF;
	background-color: #A0BF7C;
}

.boso .member_info .cart{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 2.2rem;
	height: 2rem;
	margin: 0 1.2rem 0 0;
	color: #777;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center;
	text-decoration:none;
}
.boso .member_info .cart:hover{
	color: #A0BF7C;
}

.boso .member_info .cart .num{
	position: absolute;
	top: 1.33rem;
	left: 1.35rem;
	padding: 0.15rem;
	color: #FFF;
	font-family: "Microsoft YaHei";
	font-size: 0.5rem;
	line-height: 1;
	border-radius: 0.5rem;
	background-color: #A0BF7C;
}

/*页首*/
.boso .page_header {
	width: 100%;
	margin: 2.7rem 0 0 0;
}

.boso .page_header .top {
	width: 100%;
	border-bottom: 0.5rem solid #65934A;
}

.boso .page_header .shopName {
	display: inline-block;
	vertical-align: bottom;
	width: 50%;
	width: calc(0px + 25rem);
	font-size: 2.2rem;
	line-height: 1.6;
	font-weight: bold;
	text-align: left;
	color: #65934A;
	text-shadow: 0 0 1rem #A0BF7C, -1px -1px  #FFF, 1px -1px  #03230E;
}

.boso .page_header .search {
	display: inline-block;
	vertical-align: bottom;
	width: 50%;
	width: calc(100% - 25rem);
	text-align: right;
}

.boso .page_header .search .go {
	display: inline-block;
	vertical-align: bottom;
	width: 5rem;
	padding: 0.4rem 0 0 0;
	border: none;
	background-color: #65934A;
	color: #EEE;
	font-family: "Microsoft YaHei";
	font-size: 1.5rem;
	text-align: center;
	line-height: 1;
}
.boso .page_header .search .go:hover {
	text-shadow: 0 1px 1px  #03230E;
}

.boso .page_header .search .keywords {
	display: inline-block;
	vertical-align: bottom;
	width: 10rem;
	padding: 0.1rem 0.5rem 0.2rem 0.3rem;
	border: none;
	outline: medium;
	color: #03230E;
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	line-height: 1.5;
	text-align: left;
}

.boso .page_header .search .serchicon {
	display: inline-block;
	vertical-align: bottom;
	font-family: "iconfont";
	font-size: 1.5rem;
	font-weight: bolder;
	line-height: 1.2;
	color: #407434;
}

.boso .page_header .mid {
	width: 100%;
}

.boso .page_header .nav {
	display: inline-block;
	vertical-align: top;
	width: 7rem;
	height: 1.5rem;
	color: #EEE;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	background-color: #65934A;
}
.boso .page_header .nav:hover {
	font-weight: bold;
	color: #FFF;
}
.boso .page_header .nav_cur {
	color: #FF0;
}
.boso .page_header .nav_cur:hover {
	color: #FF0;
}

/*首页*/
.boso .homeTop {
	position: relative;
	width: 100%;
}

.boso .homeTop .btn {
	position: absolute;
	/*top: 0;*/
	top: -0.8rem;
	right: 1rem;
	font-family: "iconfont";
	font-size: 2rem;
	color: #65934A;
	line-height: 1.2;
}
.boso .homeTop .btn:hover {
	font-weight: bold;
}

.boso .homeTop .link {
	width: 100%;
	margin: auto;
	height: 3rem;
	text-align: center;
}
.boso .homeTop .link img {
	height: 100%;
	margin: 1rem;
}

/*首页广告位*/
.boso .homeTop .adfram {
	display: inline-block;
	vertical-align: top;
	width: 75%;
	height: 300px;
	border: none;
	outline: medium;
}

/*首页公告栏*/
.boso .homeTop .board {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 21%;
	/*height: 270px;*/
	/*margin: 30px 0 0 0;*/
	/*overflow: hidden;*/
	height: 17rem;
	margin: 3rem 0 0 0;
	padding: 0 2% 0 2%;
	color: #407434;
	background-color: rgba(160, 191, 124, 0.5);
}

.boso .homeTop .board .title {
	width: 100%;
	height: 4rem;
	font-size: 1.6rem;
	line-height: 4rem;
	text-align: center;
}

.boso .homeTop .board .content {
	width: 100%;
	height: 11rem;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.2;
	padding-top: 1rem;
	border-top: 1px solid #407434;
}

/*商品列表*/
.boso .goodslist {
	width: 100%;
	text-align: right;
}

.boso .goodslist .title {
	width: 100%;
	margin: 2rem 0 0 0;
	font-size: 1.2rem;
	line-height: 1.7;
	color: #407434;
	border-bottom: 1px solid #A0BF7C;
	text-align: left;
}

.boso .goodslist .block {
	display: inline-block;
	vertical-align: top;
	width: 24%;
	width: calc(26% - 1rem);
	margin: 0.5rem;
	padding: 2%;
	text-align: left;
	border-radius: 0.2rem;
	/*border: 1px solid red;*/	/*测试用细细的红线*/
}
.boso .goodslist .block:hover {
	box-shadow:0 0 1rem 0.5rem #A0BF7C;
}

.boso .goodslist .block .img {
	width: 100%;
	height: 15rem;	/*当图片高度不一致时，用于统一高度*/
}

.boso .goodslist .block .img .left {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	height: 100%;
}

.boso .goodslist .block .img .mid {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	overflow: hidden;
}

.boso .goodslist .block .img .mid img {
	width: 100%;
	height: auto;
}

.boso .goodslist .block .name {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 2;
	color: #03230E;
	outline: none;
}

.boso .goodslist .block .price {
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
}

.boso .goodslist .block .tool {
	width: 100%;
	margin: 1rem 0 0 0;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	background-color: #A0BF7C;
}

.boso .goodslist .block .cart {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 1.3rem;
	color: #FFF;
}
.boso .goodslist .block .cart:hover {
	color: #407434;
}

.boso .goodslist .block .buy {
	display: inline-block;
	vertical-align: middle;
	width: 46%;
	margin: 2%;
	font-size: 1.3rem;
	color: #65934A;
	background-color: #FFF;
}
.boso .goodslist .block .buy:hover {
	color: #407434;
}

/*网站路径*/
.boso .here {
	margin: 1rem;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #407434;
}
.boso .here a {
	text-decoration: none;
	color: #407434;
}
.boso .here a:hover {
	font-weight: bold;
}

/*排序*/
.boso .order {
	text-align: right;
	margin: 0 0 1rem 0;
}

.boso .order .item {
	display: inline-block;
	vertical-align: top;
	width: 10rem;
	text-align: center;
}

.boso .order .txt {
	display: inline-block;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 1.5;
	color: #03230E;
	display: inline-block;
	vertical-align: middle;
}

.boso .order .txt:hover {
	color: #407434;
}

.boso .order .normal {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 0.2rem;
	font-family: "iconfont";
	font-size: 1.2rem;
	display: inline-block;
	vertical-align: middle;
	color: #DDD;
}

.boso .order .scd {
	color: #65934A;
}

/*翻页*/
.boso .pagebar {
	width: 100%;
	height: 3rem;
	margin: 1rem 0 0 0;
	text-align: center;
	background-color: #65934A;
}

.boso .pagebar a {
	text-decoration: none;
}

.boso .pagebar div {
	display: inline-block;
	vertical-align: top;
	height: 3rem;
	margin: 0 0.2rem 0 0.2rem;
	font-size: 1rem;
	font-weight: bold;
	line-height: 3rem;
	color: #EEE;
}
.boso .pagebar div:hover {
	color: #FF0;
}

.boso .pagebar .total {
	margin: 0 1rem 0 0;
	font-size: 1.2rem;
	font-weight: normal;
	color: #FFF;
}
.boso .pagebar .total:hover {
	color: #FFF;
}

.boso .pagebar .scd {
	font-size: 1.2rem;
	color: #FF0;
}

.boso .pagebar .next {
	font-family: "iconfont";
	font-size: 1.3rem;
	margin: 0 0.3rem 0 0.3rem;
}

/*商品*/
.boso .goods {
	width: 96%;
	margin: 2%
}

.boso .goods .pic{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	margin: 0 3% 0 0;
}

.boso .goods .pic img{
	width: 100%;
	height: auto;
}

.boso .goods .info{
	display: inline-block;
	vertical-align: top;
	width: 37%;
	line-height: 2;
	color: #03230E;
}

.boso .goods .info .key{
	display: inline-block;
	vertical-align: top;
	width: 40%;
	font-size: 1.2rem;
}

.boso .goods .info .val{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	font-size: 1.2rem;
}

.boso .goods .info .val a{
	color: #407434;
	font-style: italic;
	text-decoration: none;
}
.boso .goods .info .val a:hover{
	text-decoration: underline;
}

.boso .goods .info .directions{
	margin: 0 0 1rem 1rem;
	font-size: 0.75rem;
	font-style: italic;
	line-height: 1.2;
	color: #65934A;
}

.boso .goods .info .line {
	width: 90%;
	height: 2px;
	background-color: #407434;
	margin: 0 0 0.5rem 0;
}

.boso .goods .info .donate {
}

.boso .goods .info .donate .donateTitle {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1rem;
	padding: 0 0.5rem;
	font-family: "iconfont";
	font-size: 2rem;
	line-height: 1.5;
	color: #407434;
}
.boso .goods .info .donate .donateTitle:hover {
	color: #FFF;
	background-color: #A0BF7C;
}

.boso .goods .info .donate .donateTitle span {
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	font-weight: bold;
	margin-left: 0.2rem;
}

.boso .goods .info .donate .txt {
	display: inline-block;
	vertical-align: middle;
	width: 5rem;
	font-size: 1rem;
	line-height: 1.3;
	color: #03230E;
	text-align: center;
	
}

.boso .goods .info .donate .clear {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 0.5rem;
	padding: 0 0.5rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #407434;
}
.boso .goods .info .donate .clear:hover {
	color: #FFF;
	background-color: #A0BF7C;
}

.boso .goods .info .price{
	width: 80%;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #407434;
}

.boso .goods .tool {
	width: 80%;
	font-weight: bold;
	text-align: center;
	line-height: 2;
	background-color: #A0BF7C;
}

.boso .goods .cart {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 1.5rem;
	color: #FFF;
}
.boso .goods .cart:hover {
	color: #407434;
}

.boso .goods .buy {
	display: inline-block;
	vertical-align: middle;
	width: 46%;
	margin: 2%;
	font-size: 1.5rem;
	color: #65934A;
	background-color: #FFF;
}
.boso .goods .buy:hover {
	color: #407434;
}

.boso .goods .num {
	width: 100%;
	text-align: left;
}

.boso .goods .num .btn {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: #FFF;
}
.boso .goods .num .btn:hover {
	color: #407434;
}

.boso .goods .num .txt {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;
	line-height: 1.5;
	background-color: #FFF;
}

.boso .goods .title {
	width: 100%;
	margin: 2rem 0 2rem 0;
	font-size: 1.2rem;
	line-height: 1.7;
	color: #407434;
	border-bottom: 1px solid #A0BF7C;
	text-align: left;
}

.boso .goods .desc {
	width: 95%;
	margin: 0 0 0 5%;
	font-size: 1.2rem;
	line-height: 1.7;
	color: #03230E;
}

/*用户登录*/
.boso .user {
	width: 15rem;
	margin: 0 auto;
}

.boso .shopTitle {
	margin: 0 auto;
	font-size: 2.2rem;
	line-height: 3;
	font-weight: bold;
	text-align: center;
	color: #65934A;
	text-shadow: 0 0 1rem #A0BF7C, -1px -1px  #FFF, 1px -1px  #03230E;
}

.boso .user .txt {
	width: 94%;
	padding: 3%;
	margin: 1rem 0;
	color: #03230E;
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	line-height: 1.5;
	text-align: left;
}

.boso .user .directions{
	font-size: 0.75rem;
	font-style: italic;
	line-height: 1.2;
	color: #65934A;
}

.boso .user .btn {
	width: 100%;
	padding: 0;
	margin: 1rem 0 3rem 0;
	font-family: "Microsoft YaHei";
	font-size: 1.5rem;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	border: none;
	outline: medium;
	background-color: #65934A;
}

.boso .user .link {
	margin: 1rem 0;
	font-size: 1rem;
	line-height: 1.2;
	color: #407434;
}
.boso .user .link:hover{
	text-decoration: underline;
}

/*信息提示页*/
.boso .msg {
	margin: 2rem auto;
	font-size: 1.5rem;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	color: #407434;
}

.boso .msg .tim {
	margin: 1rem auto;
	font-size: 0.75rem;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	color: red;
}

.boso .msg .link {
	margin: 1rem auto;
	font-size: 1rem;
	line-height: 1.2;
	color: #407434;
	text-align: center;
}
.boso .msg .link:hover {
	text-decoration: underline;
}

/*购物车*/
.boso .cart {
	width: 100%;
}

.boso .cart .title {
	width: 100%;
	border-bottom: 1px solid #A0BF7C;
}

.boso .cart .pic {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.boso .cart .nam {
	display: inline-block;
	vertical-align: middle;
	width: 17%;
	padding: 0 0 0 3%;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5;
	color: #03230E;
	text-align: left;
}

.boso .cart .price {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
	text-align: center;
}

.boso .cart .number {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	text-align: center;
	background-color: #A0BF7C;
}

.boso .cart .number .num {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	margin: 0;
	padding: 0;
	border: none;
	outline: medium;
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
	text-align: center;
	background-color: #FFF;
}

.boso .cart .number .btn {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5;
	color: #FFF;
	text-align: center;
}

.boso .cart .total {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
	text-align: center;
}

.boso .cart .operate {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	padding: 0 0 0 5%;
	font-size: 1rem;
	line-height: 1.5;
	color: #65934A;
	text-align: left;
}
.boso .cart .operate:hover {
	text-decoration: underline;
}

.boso .cart .title .font {
	font-size: 1.2rem;
	line-height: 2;
	color: #03230E;
	font-weight: bold;
	background-color: transparent;
}

.boso .cart .goodsrow {
	width: 100%;
	height: 5rem;
	margin: 1.5rem 0;
}

.boso .cart .totalrow {
	width: 100%;
	text-align: right;
	border-top: 1px solid #A0BF7C;
}

.boso .cart .totalrow .btn {
	display: inline-block;
	vertical-align: top;
	width: 13%;
	margin: 0;
	padding: 0;
	border: none;
	outline: medium;
	text-align: center;
	color: #FFF;
	background-color: #A0BF7C;
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;
	line-height: 2;
}
.boso .cart .totalrow .btn:hover {
	text-shadow: 0 1px 1px  #03230E;
}

/*收货信息*/
.boso .consignee {
	border-radius: 2rem;
	margin: 2rem 10%;
	padding: 1rem;
	background-color: #FCFCFC;
	border: 1px solid #A0BF7C;
}
.boso .consignee:hover {
	background-color: #FFF;
	box-shadow: 0 0 15px #A0BF7C;
}

.boso .consignee .row {
	margin-bottom: 1rem;
}

.boso .consignee .left {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	margin: 0 2% 0 0;
	text-align: right;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
}

.boso .consignee .right {
	display: inline-block;
	vertical-align: middle;
	width: 73%;
}

.boso .consignee .right .sec{
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	width: 20%;
	margin-right: 2%;
	height: 2rem;
	color: #03230E;
}

.boso .consignee .right .txt{
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	width: 58%;
	padding: 0 2%;
	height: 2rem;
	color: #03230E;
}

.boso .consignee .right .need{
	font-size: 1rem;
	color: red;
	margin: 0 0 0 0.5rem;
}

.boso .consignee .btn {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0 1rem;
	border: none;
	outline: medium;
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;
	line-height: 2;
	color: #FFF;
	background-color: #A0BF7C;
}

.boso .consignee .dropBtn {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 5%;
	font-size: 1rem;
	line-height: 1.5;
	color: #A0BF7C;
}
.boso .consignee .dropBtn:hover {
	text-decoration: underline;
}

/*提交订单*/
.boso .checkout {
	width: 100%;
}

.boso .checkout .co_goodslist {
	width: 100%;
}

.boso .checkout .co_goodslist .title {
	border-bottom: 1px solid #A0BF7C;
}

.boso .checkout .co_goodslist .pic {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.boso .checkout .co_goodslist .nam {
	display: inline-block;
	vertical-align: middle;
	width: 22%;
	padding: 0 0 0 3%;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5;
	color: #03230E;
	text-align: left;
}

.boso .checkout .co_goodslist .price {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
	text-align: center;
}

.boso .checkout .co_goodslist .number {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
}

.boso .checkout .co_goodslist .total {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #03230E;
	text-align: center;
}

.boso .checkout .co_goodslist .title .font {
	font-size: 1.2rem;
	line-height: 2;
	color: #03230E;
	font-weight: bold;
	background-color: transparent;
}

.boso .checkout .co_goodslist .goodsrow {
	width: 100%;
	height: 5rem;
	margin: 1.5rem 0;
}

.boso .checkout .totalrow {
	width: 100%;
	text-align: right;
	border-top: 1px solid #A0BF7C;
}

.boso .checkout .totalrow .btn {
	display: inline-block;
	vertical-align: top;
	width: 13%;
	margin: 0;
	padding: 0;
	border: none;
	outline: medium;
	text-align: center;
	color: #FFF;
	background-color: #A0BF7C;
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;
	line-height: 2;
}
.boso .checkout .totalrow .btn:hover {
	text-shadow: 0 1px 1px  #03230E;
}

.boso .checkout .topTitle {
	width: 100%;
	margin: 2rem 0 0 0;
	font-size: 1.2rem;
	line-height: 1.7;
	color: #407434;
	border-bottom: 1px solid #A0BF7C;
	text-align: left;
}

.boso .checkout .address {
	margin: 0 0 0 10%;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 3;
	color: #03230E;
}

.boso .checkout .co_consignee {
	margin: 0 0 1rem 10%;
	font-size: 1.5rem;
	font-style: italic;
	line-height: 2;
	color: #666;
}

.boso .checkout .amount {
	display: inline-block;
	vertical-align: top;
	margin: 0 2rem 0 0;
	font-size: 1.5rem;
	line-height: 1.8;
	color: #407434;
}

/*支付页面*/
.boso .pay {
	margin: 2rem 0;
}

.boso .pay .memo{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin-left: 10%;
	font-size: 1.2rem;
	line-height: 2;
}

.boso .pay .price{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;
	color: #407434;
	text-align: center;
}

.boso .pay .btn{
	position: relative;
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
	border-top: 1px solid #A0BF7C;
}

.boso .pay .btn input{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0 1rem;
	border: none;
	outline: medium;
	text-align: center;
	color: #FFF;
	background-color: #A0BF7C;
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	line-height: 2;
	cursor: pointer;
}
.boso .pay .btn input:hover {
	text-shadow: 0 1px 1px  #03230E;
}

/*用户中心*/
.boso .userMemu {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.boso .userMemu a {
	display: block;
	width: 100%;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	line-height: 3;
	color: #65934A;
	text-decoration: none;
}
.boso .userMemu a:hover {
	text-decoration: underline;
}
.boso .userMemu .scd {
	color: #03230E;
}

.boso .userBody {
	display: inline-block;
	vertical-align: top;
	width: 80%;
}

/*订单详情*/
.boso .orderDetail {
	margin: 0 0 0 10%;
}

.boso .orderDetail .txt {
	display: inline-block;
	vertical-align: middle;
	margin: 0 3rem 0 0;
	font-size: 1.2rem;
	line-height: 2;
	color: #03230E;
}

.boso .orderDetail_pay{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 17rem;
	height: 3rem;
}

.boso .orderDetail_pay input{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0 1rem;
	border: none;
	outline: medium;
	text-align: center;
	color: #FFF;
	background-color: #A0BF7C;
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;
	line-height: 2.2;
	cursor: pointer;
}
.boso .orderDetail_pay input:hover {
	text-shadow: 0 1px 1px  #03230E;
}

/*订单列表*/
.boso .orderList {
	width: 100%;
}

.boso .orderList .txt {
	display: inline-block;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 3;
	color: #03230E;
	text-align: center;
}

.boso .orderList .title {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2;
	border-bottom: 1px solid #407434;
}

.boso .orderList .sn {
	width: 20%;
}

.boso .orderList .tim {
	width: 25%;
}

.boso .orderList .amount {
	width: 20%;
}

.boso .orderList .status {
	width: 25%;
}

.boso .orderList .other {
	width: 15%;
}

.boso .orderList .operate {
	width: 10%;
}

.boso .orderList .operate a{
	color: #407434;
	text-decoration: none;
}
.boso .orderList .operate a:hover{
	text-decoration: underline;
}

.boso .orderList .row {
	width: 100%;
}
.boso .orderList .row:hover {
	background-color: rgba(160, 191, 124, 0.2);
}













/*页尾*/
.boso .page_footer {
	width: 97%;
	height: 3rem;
	line-height: 3rem;
	margin-top: 2rem;
	padding: 0 0 0 3%;
	background-color: #EEE;
	border-top: 1px solid #CCC;
}

.boso .page_footer a{
	font-size: 1rem;
	color: #777;
	margin-right: 2rem;
	text-decoration: none;
}
.boso .page_footer a:hover{
	text-decoration: underline;
}

.boso .page_footer .left{
	float: left;
	height: 100%;
}

.boso .page_footer .right{
	float: right;
	height: 100%;
}








/* ------------------ 通用 -------------------- */

/*测试字体*/
.test {
	font-size: 1rem;
	color: red;
}

/*不可见*/
.boso .nosee {
	display: none !important;
}

/*A标签去除下划线*/
.boso .noa {
	text-decoration: none;
}

/*文字不被选中*/
.boso .noselect {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
}

/*文字不被选中*/
.boso .full {
	width: 100% !important;
	height: 100%;
}
