html {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	/*font-size: 1.5625vw;*/
	/*color: #407434;*/
	/*color: #65934A;*/
	/*color: #A0BF7C;*/
	/*color: #03230E;*/
}

body {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.boso {
	min-width: 50rem;
}

.boso .base {
	max-width: 50rem;
	margin: 0 auto;
}

/*页首的用户信息*/
.boso .member_info {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 2rem;
	background-color: #EEE;
}

.boso .member_info .logo {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 100%;
}
.boso .member_info .logo img{
	height: 88%;
}

.boso .member_info .user {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	height: 100%;
	text-align: right;
}

.boso .member_info .login{
	display: inline-block;
	vertical-align: top;
	height: 2rem;
	min-width: 3rem;
	padding: 0 0.5rem 0 0.5rem;
	color: #777;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	text-decoration: none;
}
.boso .member_info .login:hover{
	color: #FFF;
	background-color: #A0BF7C;
}

.boso .member_info .cart{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 2.2rem;
	height: 2rem;
	margin: 0 1.2rem 0 0;
	color: #777;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center;
	text-decoration:none;
}
.boso .member_info .cart:hover{
	color: #A0BF7C;
}

.boso .member_info .cart .num{
	position: absolute;
	top: 1.33rem;
	left: 1.35rem;
	padding: 0.15rem;
	color: #FFF;
	font-family: "Microsoft YaHei";
	font-size: 0.5rem;
	line-height: 1;
	border-radius: 0.5rem;
	background-color: #A0BF7C;
}

/*页首*/
.boso .page_header {
	width: 100%;
	margin: 2rem 0 0 0;
}

.boso .page_header .logo {
	display: inline-block;
	vertical-align: bottom;
	width: 4rem;
	height: 4rem;
}
.boso .page_header .logo img{
	position: relative;
	top: 1rem;
	width: 100%;
}

.boso .page_header .top {
	display: inline-block;
	vertical-align: bottom;
	width: calc(100% - 4rem);
	border-bottom: 0.5rem solid #65934A;
}

.boso .page_header .shopName {
	display: inline-block;
	vertical-align: bottom;
	width: 25rem;
	padding: 0;
	font-size: 2.2rem;
	line-height: 1.3;
	font-weight: bold;
	text-align: center;
	color: #65934A;
	text-shadow: 0 0 1rem #A0BF7C, -1px -1px  #FFF, 1px -1px  #03230E;
}

.boso .page_header .search {
	display: inline-block;
	vertical-align: bottom;
	width: calc(100% - 25rem);
	text-align: right;
}

.boso .page_header .search .go {
	display: inline-block;
	vertical-align: bottom;
	width: 5rem;
	padding: 0.4rem 0 0 0;
	border: none;
	background-color: #65934A;
	color: #EEE;
	font-family: "Microsoft YaHei";
	font-size: 1.5rem;
	text-align: center;
	line-height: 1;
}
.boso .page_header .search .go:hover {
	text-shadow: 0 1px 1px  #03230E;
}

.boso .page_header .search .keywords {
	display: inline-block;
	vertical-align: bottom;
	width: 10rem;
	padding: 0.1rem 0.5rem 0.2rem 0.3rem;
	margin: 0;
	border: none;
	outline: medium;
	color: #03230E;
	font-family: "Microsoft YaHei";
	font-size: 1rem;
	line-height: 1.5;
	text-align: left;
}

.boso .page_header .search .serchicon {
	font-family: "iconfont";
	font-size: 1.5rem;
	font-weight: bolder;
	line-height: 1.2;
	color: #407434;
}

.boso .page_header .mid {
	width: calc(100% - 4rem);
	margin: 0 0 0 4rem;
}

.boso .page_header .nav {
	display: inline-block;
	vertical-align: top;
	width: 6.85rem;
	height: 1.5rem;
	color: #EEE;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	background-color: #65934A;
}
.boso .page_header .nav:hover {
	font-weight: bold;
	color: #FFF;
}
.boso .page_header .nav_cur {
	color: #FF0;
}












/*页尾*/
.boso .page_footer {
	width: 100%;
}

/*通用*/
.boso .nosee {
	display: none !important;
}

/*文字不被选中*/
.boso .noselect {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
}
