html {
	padding: 0;
	margin: 0;
	/*color: #407434;*/
	/*color: #65934A;*/
	/*color: #A0BF7C;*/
	/*color: #03230E;*/
	font-family: "微软雅黑";
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.boso {
	min-width: 800px;
}

/*页首的用户信息*/
.boso .member_info {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 2rem;
	background-color: #EEE;
	text-align: right;
}

.boso .member_info .login{
	display: inline-block;
	vertical-align: top;
	height: 2rem;
	padding: 0 0.5rem 0 0.5rem;
	color: #777;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	text-decoration: none;
}
.boso .member_info .login:hover{
	color: #FFF;
	background-color: #A0BF7C;
}

.boso .member_info .cart{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 2.2rem;
	height: 2rem;
	margin: 0 1.2rem 0 0;
	color: #777;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center;
	text-decoration:none;
}
.boso .member_info .cart:hover{
	color: #A0BF7C;
}

.boso .member_info .cart .num{
	position: absolute;
	bottom: -0.3rem;
	left: 1.4rem;
	padding: 0.2rem;
	color: #FFF;
	font-size: 0.5rem;
	line-height: 1;
	border-radius: 0.5rem;
	background-color: #A0BF7C;
}

/*页首*/
.boso .page_header {
	width: 100%;
	margin: 2rem 0 0 0;
}
.boso .page_header .logo {
	display: inline-block;
	vertical-align: top;
}
.boso .page_header .logo img{
	height: 4rem;
}



/*通用*/
.boso .nosee {
	display: none;
}
